{% extends 'accountPages/account.html' %}
{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-8 text-left"> 
            <h1>Past Rides You Drove: </h1>
            <hr>
            {% if past_rides == [] %}
                <h3>You have not driven any rides</h3>
            {% endif %}

            <!--Lists all the rides the user has driven in the past-->
            {% if past_rides != [] %}
                <table style="width: 85%">
                    <tr style="border: 1px solid black;">
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Ride Number </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Origin </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Destination </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Date </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Earliest Departure </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Latest Departure </th>
                        <th style="width: 4%; border: 1px solid black; text-align: center"> Seats Available </th>
                        <th style="width: 4%; border: 1px solid black; text-align: center"> Max Seats Available </th>
                        <th style="width: 4%; border: 1px solid black; text-align: center"> Gas Price </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Comments </th>
                    </tr>
                    {% for ride in past_rides %}
                    <tr>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.ride_no }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.origin }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.destination }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.date}} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.earliest_departure }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.latest_departure }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.seats_available }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.max_seats_available }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.gas_price }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ ride.comments }} </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}