{% extends 'accountPages/account.html' %}
{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-8 text-left"> 

            {% if userDrivingRide %}
            <h1>Contact info for riders of ride {{ rideNo }}:</h1>
            <hr>
                <div> 

                  <!--Print the contact information for the users who reserved the ride, if applicable -->
                
                    {% if reservations %}
                      <h4><b> Reservations: </b></h4>
                      <ul>
                          {% for rev in reservations %}
                              <li>Netid: {{ rev.rider_netid }}, Phone number: {{ rev.phone_number}}, 
                                Spots Needed: {{ rev.seats_needed }} </li>
                          {% endfor %}
                      </ul>
                    {% endif %}
                  </div>

                {% if reservations == [] %}
                  <div>
                    <h4><b>No one has reserved this ride. </b></h4>
                  </div>
                {% endif %}
                <br>
            {% endif %}

            {% if not userDrivingRide %}
              <div>
                <h4><b>This is not your ride and you cannot view this information. </b></h4>
              </div>
            {% endif %}

            
        </div>
    </div>
</div>
{% endblock %}