{% extends 'home.html' %}
<link rel="stylesheet" type = "text/css" href = "/static/css/style.css">

{% block content %}
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- empty left sidebar -->
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <h3><b><p style="color:red"> {{ message }}</p></b></h3>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% for message in searchForm.destination.errors %}
            <p style="color:red; font-size:20px"><b>{{ message }}</b></p>
        {% endfor %}

        {% for message in searchForm.date.errors %}
            <p style="color:red; font-size:20px"><b>{{ message }}</b></p>
        {% endfor %}

        <div class="col-sm-8 text-left"> 
            <h1>Search for New Rides</h1>
            <p style="font-size:16px">Rides posted or reserved by you will not appear here. For these rides visit your <a href="{{url_for('rides.account_main')}}">account page</a>.
                You may search for rides on or before today's date.</p>
            <hr>
            <form method="post" action = "/rides/find-rides" onsubmit="return validateForm();">
                {{ searchForm.csrf_token }}

                {{ searchForm.origin_city.label }}
                {{ searchForm.origin_city }}
                {{ searchForm.destination.label }}
                {{ searchForm.destination }}
                <br>
                {{ searchForm.date.label }}
                {{ searchForm.date (placeholder='YYYY-MM-DD') }}

                {{ searchForm.spots_needed.label }}
                {{ searchForm.spots_needed }}
                <br>
                {{ searchForm.submit }}
            </form>
            <hr>
            <hr>
            {% if results %}
            <div>
                <h3> Results: </h3>
                <!-- <p> Here they are {{results}} </p> -->
                <table style="border-collapse: collapse; width: 100%">
                    <tr style="border: 1px solid black;">
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Ride Number </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Origin </th>
                        <th style="width: 15%; border: 1px solid black; text-align: center"> Destination </th>
                        <th style="width: 12%; border: 1px solid black; text-align: center"> Date </th>
                        <th style="width: 20; border: 1px solid black; text-align: center"> Earliest Departure </th>
                        <th style="width: 20%; border: 1px solid black; text-align: center"> Latest Departure </th>
                        <th style="width: 8%; border: 1px solid black; text-align: center"> Spots </th>
                        <th style="width: 8%; border: 1px solid black; text-align: center"> Gas Price </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Comments </th>
                        <th style="width: 10%; border: 1px solid black; text-align: center"> Book </th>
                    </tr>
                    {% for item in results %}
                    <tr>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.ride_no }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.origin }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.destination }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.date }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.earliest_time }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.latest_time }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.seats_available }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.gas_price }} </td>
                        <td style="border: 1px solid black; padding: 3px"> {{ item.comments }} </td>
                        <!--<td><a href="{{url_for('rides.reserveRide_main', rideNo=item.ride_no, spotsNeeded=spotsNeeded)}}"> Reserve Ride </a></td>-->
                        <td><form method="get"><button type="submit" formaction="{{url_for('rides.reserve_ride_main', 
                            rideNo=item.ride_no, spots_needed=spots_needed)}}"> Reserve Ride </button></form></td>
                        <!--<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-rideno="{{item.ride_no}}" data-dest="{{item.destination}}"> Book </button></td>-->
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        

        {% endif %}
        <div class="col-sm-8 text-left"> 
            {% if results == [] %}
            <div>
                <h3> No rides found </h3>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-2 sidenav">
            <!-- empty right sidebar-->
        </div>
    </div>
</div>
{% endblock %}
